@model CineLogic.Models.User

@{
    ViewBag.Title = "Détails";
}

<h2>Détails</h2>

<div>
    <h4>Usager</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomComplet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomComplet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Éditer", "Edit", new { id = Model.Login }) |
    @if (Session[CineLogic.Models.Libraries.SessionTypes.login].Equals(CineLogic.Models.Libraries.UserTypes.admin))
    {
     @Html.ActionLink("Liste des usagers", "Index")
    }
    else
    {
     @Html.ActionLink("Home", "Prog", "Home")
    }
</p>
