@model IEnumerable<CineLogic.Models.User>

@{
    if (Session["login"].Equals("admin"))
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    @if (Session["login"].Equals("admin"))
    {
        <tr>
            <th>@Html.ActionLink("Create New", "Create")</th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PasswordHash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HashIterations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomComplet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>

        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PasswordHash)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HashIterations)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomComplet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Login }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Login }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Login })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PasswordHash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HashIterations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomComplet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>

        foreach (var item in Model)
        {
            if (item.Login.Equals((string)Session["login"]))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PasswordHash)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HashIterations)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomComplet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Login }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Login }) |
                    </td>
                </tr>
            }
        }
    }
</table>
