@model CineLogic.Models.Responsable

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Responsable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumTel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumTel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    @foreach (var cinema in Model.Cinemas)
    {
        <div style="color: red; background-color:rosybrown;">
            Vous ne pouvez pas supprimer ce responsable, car il est assigné à un cinéma.
            Veuillez réassigner le responsable de ces cinémas:
        </div>

        <div class="form-group">
            @Html.Label(cinema.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Display(cinema.Nom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage(cinema.Nom, "", new { @class = "text-danger" })
            </div>
        </div>
    }
    <input type="submit" value="Delete" class="btn btn-default" /> |
    @Html.ActionLink("Back to List", "Index")
</div>
    }
</div>
