
@model CineLogic.Models.Salle

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Salle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeEcran)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeEcran)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SystemSon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SystemSon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnExploitation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnExploitation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cinema.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cinema.Nom)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (Model.EnExploitation == true)
            {
                <div style="color: red; background-color:rosybrown;">
                    Impossible de supprimer ce cinéma: il est en exploitation.
                </div>
            }
            else
            {
                if (Model.Seances.Count > 0)
                {
                    <span style="color: red; background-color:rosybrown;">
                        Êtes-vous sûr de vouloir supprimer cette salle? Elle contient des séances.
                    </span>
                    <input type="submit" value="Delete" class="btn btn-default" /> <br />
                }
                else
                {
                    <input type="submit" value="Delete" class="btn btn-default" /> <br />
                }
            }
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
