@model ASPNET_MVC_Bootstrap4_Template.Models.Contenu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contenu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Annee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Annee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RuntimeMins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RuntimeMins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Votes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Votes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Revenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Revenue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaScore)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Titre }) |
    @Html.ActionLink("Back to List", "Index")
</p>
