@model CineLogic.Models.Genre

@{
    ViewBag.Title = "Details du genre";
}

<h2 class="border-left border-bottom border-info m-4 p-4">Details du genre</h2>

<div class="m-4">
    <dl class="dl-horizontal m-4">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
    </dl>
</div>
<p class="m-4">
    @Html.ActionLink("Editer", "Edit", new { id = Model.Nom }) |
    @Html.ActionLink("Index des genres", "Index")
</p>
<div>
    <table class="table">
        @foreach (var item in Model.Contenus)
        {
            @*.Take(10)*@
            <tr class="border-bottom border-warning">
                <td>
                    @item.Titre
                </td>
                <td>
                    @Html.ActionLink("Détails", "Details", "Contenus", new { id = item.Titre }, new { @class = "btn btn-outline-warning EDS" })
                </td>
            </tr>
        }
    </table>
   
</div>
