@model CineLogic.Models.Directeur

@{
    ViewBag.Title = "Details du directeur";
}

<h2 class="border-left border-bottom border-info m-4 p-4">Details du directeur</h2>

<div>

    <dl class="dl-horizontal m-4">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
    </dl>
</div>
<p class="m-4">
    @Html.ActionLink("Editer", "Edit", new { id = Model.Nom }) |
    @Html.ActionLink("Index des Directeurs", "Index")
</p>
<div>
    <div class="alert alert-info" role="alert">
        Les films qu'il a dirigés
    </div>

    <table class="table">
        @foreach (var item in Model.Contenus)
        {
            @*.Take(10)*@
            <tr class="border-bottom  border-warning">
                <td>
                    @item.Titre
                </td>
                <td>
                    @Html.ActionLink("Détails", "Details", "Contenus", new { id = item.Titre }, new { @class = "btn btn-outline-warning EDS" })
                </td>
            </tr>
        }
    </table>

</div>