@model CineLogic.Models.Acteur

@{
    ViewBag.Title = "Ajouter un acteur";
}

<h2 class="border-left border-bottom border-info m-4 p-4">Ajouter un nouvel acteur</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal m-4">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group m-4">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit"  value="Ajouter l'acteur" class="btn btn-outline-info"  />
            </div>
        </div>
    </div>
}

<div class="m-4">
    @Html.ActionLink("Index des acteurs", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
