@model CineLogic.Models.Contenu

@{
    ViewBag.Title = "CreateCsv";
}

<h2 class="border-left border-bottom border-info m-4 p-4">Charger Plusieurs films (Fichier .csv)</h2>

@*<div class="m-1">
        <input type="submit" value="Ouvrir " class="btn btn-outline-info" />
    </div>*@


<div>
    @using (Html.BeginForm("CreateCsv", "Contenus", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="d-flex justify-content-between">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="m-4">

                <table>
                </table>

                <div class="form-group">
                    <input class="form-control-file " type="file" id="dataFile" name="csvFile" />
                </div>


                <div class="m-1">
                    <input type="submit" value="Charger le fichier" class="btn btn-outline-info" id="chargerFichierBTN" />
                    @{
                        if (ViewBag.CheminVide != null)
                        {
                            <div class="alert alert-danger mt-4">@ViewBag.CheminVide</div>
                        }
                    }

                    @{
                        if (ViewBag.ErreurTypeFichier != null)
                        {
                            <div class="alert alert-danger mt-4">@ViewBag.ErreurTypeFichier</div>
                        }
                    }
                </div>

                <div class="d-flex justify-content-center">
                    <div class="mr-2">
                        <div class="alert alert-info mt-1"><span>Nombre de films ajoutés : </span><strong>@ViewBag.FilmAjouter</strong></div>
                        <div class="alert alert-info mt-1"><span>Nombre de films existants : </span><strong>@ViewBag.FilmExistant</strong></div>
                    </div>
                    <div class="mr-2">
                        <div class="alert alert-info mt-1"><span>Nombre d'acteurs ajoutés : </span><strong>@ViewBag.ActeurAjouter</strong></div>
                        <div class="alert alert-info mt-1"><span>Nombre d'acteurs existants : </span><strong>@ViewBag.ActeurExistant</strong></div>
                    </div>
                    <div class="mr-2">
                        <div class="alert alert-info mt-1"><span>Nombre de directeurs ajoutés : </span><strong>@ViewBag.DirecteurAjouter</strong></div>
                        <div class="alert alert-info mt-1"><span>Nombre de directeurs existants : </span><strong>@ViewBag.DirecteurExistant</strong></div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

