@model CineLogic.Models.Contenu

@{
    ViewBag.Title = "Delete";
}

<h2 class="border-left border-bottom border-info m-4 p-4">Supprimer un/des film(s)</h2>

<h3>Voulez-vous vraiment supprimer ce film ?</h3>
<div class="m-4">
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Annee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Annee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RuntimeMins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RuntimeMins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Votes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Votes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Revenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Revenue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaScore)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
            @Html.ActionLink("Index des films", "Index")
        </div>
    }
</div>
