@model IEnumerable<CineLogic.Models.Seance>

@section css {
    @Styles.Render("~/Content/fullcalendarcss")
    @Styles.Render("~/Content/bootstrapdatepickercss")
    @Styles.Render("~/Content/programmation.css")
}

@{
    ViewBag.Title = "Index";
}

<div id="loading" class="float-right">
    <div class="loader">
        <i class="fas fa-film"></i>
    </div>
</div>


<h4>Selectionner le cinéma et salle:</h4>

<div class="d-flex">
    <select class="form-control mr-2" id="cinema-select"></select>
    <select class="form-control mr-2" id="salle-select"></select>
</div>

<hr />

<div class="row">
    <div class="col-md-4">
        <div class="d-flex flex-column border p-4">
            <h5>Ajouter une séance</h5>
            <div id="date-picker" class="my-3">
            </div>

            <div id="alert-date" class="alert alert-danger collapse">
                Vous devez selectionner une date!
            </div>

            <div class="form-group">
                <button class="btn btn-outline-primary" id="datechanger">Aller à la date <i class="fas fa-chevron-right"></i></button>
            </div>

            <div class="form-group">
                <label>Heure de début</label>
                <div class="d-flex">
                    <input name="debut-hours" class="time-in form-control mr-2" type="number" placeholder="HH" min="0" max="23" />
                    <input name="debut-mins" class="time-in form-control" type="number" placeholder="MM" min="0" max="59" />
                </div>
            </div>
            <div class="form-group">
                <label>Heure de fin</label>
                <div class="d-flex">
                    <input name="fin-hours" class="time-in form-control mr-2" type="number" placeholder="HH" min="0" max="23" />
                    <input name="fin-mins" class="time-in form-control" type="number" placeholder="MM" min="0" max="59" />
                </div>
            </div>
            <div class="form-group">
                <label>Titre</label>
                <input name="titre" class="form-control" type="text" maxlength="20" />
            </div>
            <div class="form-group">
                <button id="create-seance" class="btn btn-outline-success">Créer</button>
            </div>
        </div>

    </div>
    <div class="col-md-8">
        <div id='calendar' class="p-4 border">
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Création d'une séance</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Vous allez créer cette séance:
                    </p>
                    <dl>
                        <dt>
                            Salle
                        </dt>
                        <dd id="conf-salle"></dd>
                        <dt>
                            Titre
                        </dt>
                        <dd id="conf-titre"></dd>
                        <dt>
                            Heure de début
                        </dt>
                        <dd id="conf-debut"></dd>
                        <dt>
                            Heure de fin
                        </dt>
                        <dd id="conf-fin"></dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-outline-success" id="btn-confirmed">Continuer</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Content/fullcalendarjs")
    @Scripts.Render("~/Content/bootstrapdatepickerjs")
    @Scripts.Render("~/Content/Programmation/Calendar.js")

<script>
    $(document).ready(function () {

        //  Chercher les cinemas disponibles.
        $.get('@Url.Action("Cinemas")', null, function (data) {
            $.each(data, function (i, item) {
                $("#cinema-select").append(
                    '<option value="' + item.CinemaID + '">' + item.Nom + '</option>'
                );
                getSalles();
            });
        }
        );

            

        //  Chercher les salles correspondant à le cinéma selectionné.
        function getSalles() {

            var cinemaID = $("#cinema-select").val();

            $.get(
                '@Url.Action("Salles")',
                { cinemaID: cinemaID },
                function (data) {
                    $("#salle-select").empty();
                    $.each(data, function (i, item) {
                        $("#salle-select").append(
                            '<option value="' + item.SalleID + '">' + item.Nom + '</option>'
                        );
                    });
                    refreshEvents();
                }
            );
        }

        //  Mettre à jour les salles chaque fois que le cinéma est changé.
        $("#cinema-select").change(function () {
            getSalles();
        });

        //  Créer le datepicker.
        var options = {
            todayBtn: 'linked',
            language: 'fr',
            orientation: 'bottom left',
            daysOfWeekHighlighted: '0,6'
        };
        $("#date-picker").datepicker(options);

        //  Ajouter une nouvelle séance.
        $("#create-seance").click(function () {
            console.log("Create clicked.");

            if ($("#date-picker").datepicker('getDate') == null) {
                console.log("Alert");
                $("#alert-date").show();
            }
            else {
                $("#alert-date").hide();

                $("#conf-salle").html($("#cinema-select option:selected").text() + " - " + $("#salle-select option:selected").text());
                $("#conf-titre").html($('input[name = "titre"]').val());
                $("#conf-debut").html(new Date($("#date-picker").datepicker('getDate').setMinutes(60 * parseInt($('input[name="debut-hours"]').val()) + parseInt($('input[name="debut-mins"]').val()))));
                $("#conf-fin").html(new Date($("#date-picker").datepicker('getDate').setMinutes(60 * parseInt($('input[name="fin-hours"]').val()) + parseInt($('input[name="fin-mins"]').val()))));
                $("#confirmationModal").modal('show');
            }
        });


        $("#btn-confirmed").click(function () {

            $("#confirmationModal").modal('hide');

            console.log($('input[name = "titre"]').val());
            console.log($('#salle-select').val());
            console.log($("#date-picker").datepicker('getDate'));
            console.log(new Date($("#date-picker").datepicker('getDate').setMinutes(60 * parseInt($('input[name="debut-hours"]').val()) + parseInt($('input[name="debut-mins"]').val()))));
            console.log(new Date($("#date-picker").datepicker('getDate').setMinutes(60 * parseInt($('input[name="fin-hours"]').val()) + parseInt($('input[name="fin-mins"]').val()))));


            var seanceData = {
                titre: $('input[name = "titre"]').val(),
                salleID: $('#salle-select').val(),
                heureDebut: new Date($("#date-picker").datepicker('getDate').setMinutes(60 * parseInt($('input[name="debut-hours"]').val()) + parseInt($('input[name="debut-mins"]').val()))),
                heureFin: new Date($("#date-picker").datepicker('getDate').setMinutes(60 * parseInt($('input[name="fin-hours"]').val()) + parseInt($('input[name="fin-mins"]').val()))),
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create")',
                dataType: 'json',
                data: '{ seance: ' + JSON.stringify(seanceData) + '}',
                contentType: 'application/json; charset=utf-8',
                success: function () {
                    console.log("Post success.");
                },
                error: function (e) {
                    console.log(e);
                }
            })
        });

        //  Créer le calendrier des séances.
        var events = [];

        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['timeGrid', 'bootstrap'],
            defaultView: 'timeGridWeek',
            themeSystem: 'bootstrap',
            locale: 'fr',
            allDaySlot: false,
            minTime: "08:00:00",
            maxTime: "24:00:00",
            events: events,
            height: "parent",
            eventTimeFormat: { // like '14:30:00'
                hour: '2-digit',
                minute: '2-digit',
                hour12: false
            }
        });

        calendar.render();

        $("#refresh-events").click(function () {
            refreshEvents();
        });

        $("#salle-select").change(function () {
            refreshEvents();
        });

        var eventsRefreshing = false;

        function refreshEvents() {
            if (eventsRefreshing) return;
            eventsRefreshing = true;

            $.each(calendar.getEventSources(), function (i, item) {
                calendar.getEventSources()[i].remove();
            });

            var salleID = $('#salle-select').val();

            $('#salle-select').prop('disabled', true);

            var jqxhr = $.get('@Url.Action("Seances")', { salleID: salleID }, function (data) {
                var events = [];
                $.each(data, function (i, item) {
                    events.push({
                        id: item.SeanceID,
                        url: '@Url.Action("Edit")/' + item.SeanceID,
                        title: item.Titre + (item.ContenuTitre == null ? "" : " - " + item.ContenuTitre),
                        start: item.HeureDebut,
                        end: item.HeureFin,
                        backgroundColor: item.ContenuTitre == null ? 'primary' : '#5CB85C',
                        borderColor: item.ContenuTitre == null ? 'primary' : '#5CB85C',
                        eventTitle: item.Titre,
                        contenuTitre: item.ContenuTitre
                    });

                });
                calendar.addEventSource(events);
                eventsRefreshing = false;
                $('#salle-select').prop('disabled', false);
            });

            
        };

        $("#datechanger").click(function () {
            console.log($("#date-picker").datepicker('getDate'));
            calendar.gotoDate($("#date-picker").datepicker('getDate'));
        });
    })
        .ajaxStart(function () {
            $("#loading").show();
        })
        .ajaxStop(function () {
            $("#loading").hide();
        });

</script>
}

