@model CineLogic.Models.Cinema

@{
    ViewBag.Title = "Supprimer";
}

<h2>Supprimer</h2>

<h3>Êtes-vous sûr de vouloir supprimer ce cinéma?</h3>
<div>
    <h4>Cinema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnExploitation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnExploitation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsable.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsable.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.NomComplet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.NomComplet)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (Model.EnExploitation == true)
            {
                <div style="color: red; background-color:rosybrown;">
                    Impossible de supprimer ce cinéma: il est en exploitation.
                </div>
            }
            else
            {
                if (Model.Salles.Count > 0)
                {
                    if (Model.Salles.Any(s => s.Seances.Count > 0))
                    {
                        <span style="color: red; background-color:rosybrown;">
                            Ce cinéma contient des salles et des séances. Êtes-vous vraiment sûr de vouloir le supprimer?
                        </span>
                        <input type="submit" value="Supprimer" class="btn btn-default" /> <br />
                    }
                    else
                    {
                        <span style="color: red; background-color:rosybrown;">
                            Ce cinéma contient des salles. Êtes-vous vraiment sûr de vouloir le supprimer?
                        </span>
                        <input type="submit" value="Supprimer" class="btn btn-default" /> <br />
                    }
                }
                else
                {
                    <input type="submit" value="Supprimer" class="btn btn-default" /> <br />
                }
            }
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>