@model IEnumerable<CineLogic.Models.Cinema>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnExploitation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Responsable.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.NomComplet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnExploitation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Responsable.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.NomComplet)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CinemaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CinemaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CinemaID })
        </td>
    </tr>
}

</table>
