@model IEnumerable<CineLogic.Models.Cinema>

@{
    ViewBag.Title = "Index";
}

<h2>Cinémas</h2> 

<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            @foreach (var item in Model)
            {
                <a class="list-group-item list-group-item-action" id="list-@Html.DisplayFor(modelItem => item.CinemaID)-list" data-toggle="list" href="#list-@Html.DisplayFor(modelItem => item.CinemaID)" role="tab" aria-controls="@Html.DisplayFor(modelItem => item.CinemaID)">@Html.DisplayFor(modelItem => item.Nom)</a>
            }
        </div>
        <br />
        @Html.ActionLink("Ajouter un nouveau cinéma", "Create", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-6">
        <div class="card tab-content" id="nav-tabContent">
            @foreach (var item in Model)
            {
                <div class="tab-pane fade" id="list-@Html.DisplayFor(modelItem => item.CinemaID)" role="tabpanel" aria-labelledby="list-@Html.DisplayFor(modelItem => item.CinemaID)-list">
                    <div class="card-header bg-primary text-white d-flex justify-content-between">
                        <div>
                            Cinéma @Html.DisplayFor(modelItem => item.Nom)
                        </div>
                        <div>
                            @Html.ActionLink("Éditer", "Edit", new { id = item.CinemaID }, new { @class = "btn btn-warning btn-sm text-white" })
                            @Html.ActionLink("Supprimer", "Delete", new { id = item.CinemaID }, new { @class = "btn btn-danger btn-sm" })
                        </div>
                    </div>
                    <div class="card-body">
                        <h4>Adresse</h4>
                        <div class="d-flex">
                            <div class="col-6">
                                @Html.DisplayFor(modelItem => item.Adresse)
                            </div>
                        </div>
                        <h4>En exploitation</h4>
                        <div class="d-flex">
                            <div class="col-6">
                                @Html.DisplayFor(modelItem => item.EnExploitation)
                            </div>
                        </div>
                        <h4>Nom du responsable</h4>
                        <div class="d-flex">
                            <div class="col-6">
                                @Html.DisplayFor(modelItem => item.Responsable.Nom)
                            </div>
                            <div>
                                @Html.ActionLink("Détails", "Details", "Responsables", new { id = item.Responsable.ResponsableID }, new { @class = "btn btn-secondary btn-sm" })
                            </div>
                        </div>
                        <h4>Nom du programmateur</h4>
                        <div class="d-flex">
                            @if (item.User == null)
                            {
                                <div class="col-6">
                                    Aucun programmateur assigné
                                </div>
                                <div>
                                    @Html.ActionLink("Assigner", "Assigner", new { id = item.CinemaID }, new { @class = "btn btn-warning btn-sm" })
                                </div>
                            }
                            else
                            {
                                <div class="col-6">
                                    @Html.DisplayFor(modelItem => item.User.NomComplet)
                                </div>
                                <div>
                                    @Html.ActionLink("Détails", "Details", "Users", new { id = item.User.Login }, new { @class = "btn btn-secondary btn-sm" })
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<br />
<h2>Salles</h2>

<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab-salle" role="tablist">
            @foreach (var item in Model)
            {
                foreach (var salle in item.Salles)
                {
                    <a class="list-group-item list-group-item-action bg-success text-white d-none disabled" id="list-@Html.DisplayFor(modelItem => salle.SalleID)-salle" data-toggle="list" href="#list-@Html.DisplayFor(modelItem => salle.SalleID)-salle-pane" role="tab" aria-controls="@Html.DisplayFor(modelItem => item.CinemaID)">@Html.DisplayFor(modelItem => salle.Nom)</a>
                }
            }
        </div>
        <br />
        @Html.ActionLink("Ajouter une nouvelle salle", "Create", "Salles", new { area = "" }, new { @class = "btn btn-success" })
    </div>
    <div class="col-6">
        <div class="card tab-content" id="nav-tabContent-salle">
            @foreach (var item in Model)
            {
                foreach (var salle in item.Salles)
                {
                    <div class="tab-pane fade" id="list-@Html.DisplayFor(modelItem => salle.SalleID)-salle-pane" role="tabpanel" aria-labelledby="list-@Html.DisplayFor(modelItem => salle.SalleID)-salle">
                        <div class="card-header bg-success text-white d-flex justify-content-between">
                            <div>
                                Salle @Html.DisplayFor(modelItem => salle.Nom)
                            </div>
                            <div>
                                @Html.ActionLink("Éditer", "Edit", "Salles", new { id = salle.SalleID }, new { @class = "btn btn-warning btn-sm text-white" })
                                @Html.ActionLink("Supprimer", "Delete", "Salles", new { id = salle.SalleID }, new { @class = "btn btn-danger btn-sm" })
                            </div>
                        </div>
                        <div class="card-body">
                            <h4>Type d'écran</h4>
                            <div class="d-flex">
                                <div class="col-6">
                                    @Html.DisplayFor(modelItem => salle.TypeEcran)
                                </div>
                            </div>
                            <h4>Système de son</h4>
                            <div class="d-flex">
                                <div class="col-6">
                                    @Html.DisplayFor(modelItem => salle.SystemSon)
                                </div>
                            </div>
                            <h4>En exploitation</h4>
                            <div class="d-flex">
                                <div class="col-6">
                                    @Html.DisplayFor(modelItem => salle.EnExploitation)
                                </div>
                            </div>
                            @Html.ActionLink("Voir la programmation de cette salle", "Index", "Seances", new { id = salle.SalleID }, new { @class = "btn btn-warning btn-sm text-white" })
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#list-tab').on('click', 'a', function () {
                var id = $(this).attr("aria-controls");
                for (var i = 1; i <= $('#list-tab-salle > a').length + 10; i++) {
                    $('#list-tab-salle a[aria-controls="' + i + '"]').addClass('d-none disabled');
                    $('#nav-tabContent-salle').addClass('d-none');
                    $('#nav-tabContent-salle a').addClass('disabled');
                }
                $('#list-tab-salle a[aria-controls="' + id + '"]').removeClass('d-none disabled');
            })

            $('#list-tab-salle').on('click', 'a', function () {
                $('#nav-tabContent-salle').removeClass('d-none');
                $('#nav-tabContent-salle a').removeClass('disabled');
            })
        });
    </script>
}